<ion-header>
  <ion-toolbar>
    <ion-title>pharmacies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card
    button
    *ngFor="let pharm of pharmacies"
    (click)="pharmacyClick(pharm)"
  >
    <ion-card-header>
      <ion-card-title class="ion-text-center">{{pharm.name}}</ion-card-title>
      <ion-card-subtitle>Address: {{pharm.address}}</ion-card-subtitle>
      <ion-card-content>Contact Info: {{pharm.contact}}</ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>
