.status-icon {
  width: 30%;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  padding: 5px 0;
}

.status-0 {
  background-color: rgb(255, 132, 132);
  color: white;
}
.status-1 {
  background-color: rgb(39, 138, 0);
  color: white;
}
.status-2 {
  background-color: rgb(60, 0, 255);
  color: white;
}
