.status-icon {
  width: 30%;
  border-radius: 10px;
  text-align: center;
}

.status-0 {
  background-color: rgb(255, 132, 132);
  color: white;
}
.status-1 {
  background-color: rgb(51, 255, 0);
  color: black;
}
.status-2 {
  background-color: rgb(60, 0, 255);
}
