<ion-card>
  <ion-item>
    <ion-icon name="medical" slot="start"></ion-icon>
    <ion-label text-wrap>{{ medications.join(" , ") }}</ion-label>
    <ion-button fill="outline" slot="bottom">View</ion-button>
  </ion-item>
  <ion-card-content>
    Ordered from: {{ order.pharmacy.name }}
    <div class="ion-align-items-center">
      <app-status [status]="order.status"></app-status>
      <app-pharm-buttons
        *ngIf="userRole === 'PHARM'"
        [status]="order.status"
        [orderId]="order.id"
      ></app-pharm-buttons>
    </div>
  </ion-card-content>
</ion-card>
