<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Your Orders </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="getOrders($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Your Orders</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container
    *ngIf="numOrders === 0"
    message="You have no orders yet..., click the add button below to make you order"
    icon="sad-outline"
  ></app-explore-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openForm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
